.addToCartBtn {
  background-color: #fa8507;
  box-shadow: 0px 10px 20px 0px rgba(250, 133, 7, 0.2);
  display: inline-block;
  text-align: center;
  width: fit-content;
  position: absolute;
  right: 17px;
  top: 5px;
  font-weight: 500;
  padding: 3%;
  z-index: 1;
  box-shadow: 0px 1px 51px 0px rgba(0, 0, 0, 0.03);
  border-radius: 9999px;
  border: none;
  color: white;
}

.products .addToCartBtn {
  display: inline-block !important;
  border: none;
}

.products:hover .addToCartBtn {
  display: inline-block !important;
  cursor: pointer;
  border: none;
}

.wishlist-products .addToCartBtn {
  display: inline-block !important;
  border: none;
}

.wishlist-products:hover .addToCartBtn {
  display: inline-block !important;
  cursor: pointer;
  border: none;
}

.categoryList .selected {
  background-color: #fa8507 !important;
  color: #fff !important;
}

.product-images {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.food-content {
  min-height: 140px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3% !important;
}

.categories:hover {
  cursor: pointer;
}

/* .categories {
  padding: 3% !important;
} */
.product_name {
  /* font-weight: bold; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold  ; */
}

/* .food-price {
  background-color: #fa8507;
  display: inline-block;
  text-align: center;
  width: fit-content;
  position: absolute;
  right: 40px;
  top: -22.5px;
  font-size: 18px;
  font-weight: 700;
  min-width: 116px;
  padding: 10px 35px;
  z-index: 1;
  z-index: 41;
  color: var(--white-color);
  box-shadow: 0px 1px 51px 0px rgba(0, 0, 0, 0.03);
  border-radius: 9999px;
} */

.greyOutCategory {
  /* filter: brightness(80%); */
}

#category-available-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffcfa9;
  width: 100%;
  margin-bottom: 1%;
  color: #000000;
  /* font-weight: bolder; */
  text-align: center;
}

#category-available-banner p {
  color: black;
  font-size: 1.3rem;
  margin: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.categoryList {
  position: relative;
}

.categoryInfoPill {
  display: none;
}

.categoryInfoPill p {
  color: white;
  margin: 0%;
}

@media (min-width: 375px) and (max-width: 1000px) {
  .categoryList:hover .categoryInfoPill {
    display: block;
    position: absolute;
    left: 5%;
    /* transform: translateX(-60%); */
    top: 45%;
    background: #707070;
    z-index: 100;
    border-radius: 10px;
    width: 10rem;
    padding: 2%;
  }

  .categoryInfoPill:hover {
    display: block;
    position: absolute;
    left: 5%;
    top: 45%;
    background: #707070;
    z-index: 100;
    border-radius: 10px;
    width: 10rem;
    padding: 2%;
  }
  .vs-btn {
    padding: 10px 10px !important;
  }
}

@media (min-width: 1000px) {
  .categoryList:hover .categoryInfoPill {
    display: block;
    position: absolute;
    left: 70%;
    /* transform: translateX(-60%); */
    top: 60%;
    background: #707070;
    z-index: 100;
    border-radius: 10px;
    width: 10rem;
    padding: 2%;
  }

  .categoryInfoPill:hover {
    display: block;
    position: absolute;
    left: 70%;
    top: 40%;
    background: #707070;
    z-index: 100;
    border-radius: 10px;
    width: 10rem;
    padding: 2%;
  }
}

::-webkit-scrollbar {
  opacity: 1 !important;
  display: block !important;
}

.categoryInfoPill:hover ~ .categoryList:has(.categoryInfoPill) {
  background-color: #fa8507;
}

.product-available-banner {
  background-color: #fa8507;
  position: absolute;
  top: 4%;
  z-index: 1;
  padding: 1% 0% 1% 5%;
  width: 70%;
  border-radius: 0px 10px 10px 0px;
}

.product-available-banner p {
  color: white;
  margin: 0%;
  width: 100%;
  font-weight: bolder;
}

#specialItems1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#specialItemsInner {
  color: black;
  font-size: larger;
  font-weight: 900;
  padding: 1%;
  background-color: #b9ffa9;
  width: 80%;
  border: 1px solid #b9ffa9;
  border-radius: 5px;
}

#divi {
  display: flex;
  justify-content: center;
  align-items: center;
}
#division {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #b9ffa9;
  padding: 1%;
  border: 1px solid #b9ffa9;
  border-radius: 5px;
  margin-bottom: 2%;
}

.crown-img {
  position: absolute;
  top: 2%;
  left: 82%;
  z-index: 1;
  height: 50px;
  width: 50px;
}
.categories {
  text-decoration: none !important;
}
a.product_name {
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}

.special-items-img {
  /* height: 20vh !important; */
  /* width: 100%; */
  /* aspect-ratio: 1 / 1; */
  /* overflow: auto; */
  /* object-fit: contain !important; */
  /* height: 10px;
  width: 100%; */
  height: 200px !important;
}
.special-items {
  border: 5px solid #b9ffa9 !important;
  border-radius: 5px;
  margin-bottom: 5% !important;
}
