/* Extracted from <style> blocks in products.html */
.main.category {
	margin-top:30px;
}
.sort-by {
	padding-top:10px;
	padding-bottom:10px;
}
.product-category-alt {
	padding:15px 20px;
}
.product-category-alt h3 {
	font-size: 20px;
	margin:5px 0 8px;
}
.product-category-alt h3 a {
	color:#000;
}
.product-category-alt .price {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #428B00;
	margin-bottom: 5px;
}
.product-category-alt .price strong {
	color:#FF0000;
}
.product-category-alt .price del {
	font-weight: normal;
	color:#999;
}
.product-category-alt .info p {
	font-size: 14px;
	line-height: 20px;
}
.product-category-alt .btn {
	margin-bottom:10px;
}
.stars {
	display: inline-block;
	color:#EBB600;
	margin-bottom:5px;
}
.toggle-vis-desc {
	position: absolute;
	top:0;
	right:0;
}
.toggle-vis-buttons {
	position: absolute;
	top:0;
	right:110px;
}
h3.h-section {
	text-align:center;
	overflow:hidden;
	margin:30px 0 20px 0;
	font-size: 32px;
}
h3.h-section span {
	display: inline-block;
	position: relative;  
}
h3.h-section span:before,
h3.h-section span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid #AAAAAA;
	top: 0;
	width: 600px;
	top: 50%;
}
h3.h-section span:before {
	right: 100%;
	margin-right: 15px;
}
h3.h-section span:after {
	left: 100%;
	margin-left: 15px;
}
.section.categories {
	display: none;
	overflow:hidden;
	background:none;
	padding:0;
	font-size: 100%;
}
.b2g1h-header {
	margin-bottom:30px;
	overflow:auto;
}
.b2g1h-header img {
	max-width:100%;
	height:auto;
}
.b2g1h-header .copy {
	padding:20px 20px 20px 0;
}
.b2g1h-header h3 {
	margin-top:0;
}
.b2g1h-header p:last-of-type {
	margin-bottom:0;
}
.b2g1h-header .fine-print {
	color:#666;
	font-size:80%;
}
@media (min-width:570px) {
	.b2g1h-header img {
		float:left;
		width:50%;
	}
}
@media (min-width:768px) {
	#category-choose {
		display: none;
	}
	.section.categories {
		display: block;
	}
}
@media (min-width:1200px) {
	.product-category-alt {
		padding:15px 25px;
	}
}
#kins_root {
	display: block !important;
} 